{% extends 'base.html' %}
{% block content %}

<body class="body">
    
<h1>{{ game.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if game %}
 <table style="width:100%">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{ game.description }}</td>
  </tr>
  <tr>
    <td>Mininum Number of Players</td>
    <td>{{ game.min_num_players }}</td>
  </tr>
  <tr>
    <td>Maximum Number of Players</td>
    <td>{{ game.max_num_players }}</td>
  </tr>
  <tr>
    <td>Scaleability</td>
    <td>{{ game.scaleability }}</td>
  </tr>
  <tr>
    <td>Technical Prof: Body Catch</td>
    <td>{{ game.tech_prof_body_catch }}</td>
  </tr>
  <tr>
    <td>Technical Prof: Punt Kick</td>
    <td>{{ game.tech_prof_punt_kick }}</td>
  </tr>
  <tr>
    <td>Technical Prof: Pick Up</td>
    <td>{{ game.tech_prof_pick_up }}</td>
  </tr>
  <tr>
    <td>Technical Prof: Hand Pass</td>
    <td>{{ game.tech_prof_hand_pass }}</td>
  </tr>
  <tr>
    <td>Technical Prof: Hook Kick</td>
    <td>{{ game.tech_prof_hook_kick }}</td>
  </tr>
  <tr>
    <td>Technical Prof: Near Hand Tackle</td>
    <td>{{ game.tech_prof_near_hand_tackle }}</td>
  </tr>
  <tr>
    <td>Technical Prof: Block</td>
    <td>{{ game.tech_prof_block }}</td>
  </tr>
  <tr>
    <td>Tactical Prowess</td>
    <td>{{ game.tactical_prowess }}</td>
  </tr>
  <tr>
    <td>Team Play</td>
    <td>{{ game.team_play }}</td>
  </tr>
  <tr>
    <td>Physical Fitness</td>
    <td>{{ game.physical_fitness }}</td>
  </tr>
  <tr>
    <td>Playing Facts</td>
    <td>{{ game.playing_fact }}</td>
  </tr>
  <tr>
    <td>Psychological Focus</td>
    <td>{{ game.psy_focus }}</td>
  </tr>
  <tr>
    <td>Coach to Player Ratio</td>
    <td>{{ game.coach_to_player_ratio }}</td>
  </tr>
  <tr>
    <td>Min Age</td>
    <td>{{ game.min_age }}</td>
  </tr>
  <tr>
    <td>Max Age</td>
    <td>{{ game.max_age }}</td>
  </tr>
</table> 
{% endif %}
</body>
{% endblock %}