{% extends 'base.html' %}
{% block content %}

    {% if name %}
        <table id="games_table">
            <tr>
                <th>Game</th>
                <th>Min Num Players</th>
                <th>Max Num Players</th>
                <th>Scalebility</th>
                <th>Technical Prof: Body Catch</th>
                <th>Technical Prof: Punt Kick</th>
                <th>Technical Prof: Pick Up</th>
                <th>Technical Prof: Hand Pass</th>
                <th>Technical Prof: Hook Kick</th>
                <th>Technical Prof: Near Hand Tackle</th>
                <th>Technical Prof: Block</th>
                <th>Tactical Prowess</th>
                <th>Team Play</th>
                <th>Physical Fitness</th>
                <th>Playing Facts</th>
                <th>Psychological Focus</th>
                <th>Coach to Player Ratio</th>
                <th>Min Age</th>
                <th>Max Age</th>
            </tr>     
        {% for g in name %}
            <tr>
                <td><a href="{% url 'games:detail' g.id %}">{{ g.name }}</a></td>
                <td>{{ g.min_num_players }}</td>
                <td>{{ g.max_num_players }}</td>
                <td>{{ g.scaleability }}</td>
                <td>{{ g.tech_prof_body_catch }}</td>
                <td>{{ g.tech_prof_punt_kick }}</td>
                <td>{{ g.tech_prof_pick_up }}</td>
                <td>{{ g.tech_prof_hand_pass }}</td>
                <td>{{ g.tech_prof_hook_kick }}</td>
                <td>{{ g.tech_prof_near_hand_tackle }}</td>
                <td>{{ g.tech_prof_block }}</td>
                <td>{{ g.tactical_prowess }}</td>
                <td>{{ g.team_play }}</td>
                <td>{{ g.physical_fitness }}</td>
                <td>{{ g.playing_facts }}</td>
                <td>{{ g.psy_focus }}</td>
                <td>{{ g.coach_to_player_ratio }}</td>
                <td>{{ g.min_age }}</td>
                <td>{{ g.max_age }}</td>
            </tr>
        {% endfor %}
        </table> 

    <script>
        var tf = new TableFilter("games_table", { base_path: '' } );
        tf.init();
    </script>

    {% endif %}
{% endblock %}
